<div class="container mt-5">
  <h3>Create New User</h3>
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">

    <div class="mb-3">
      <label for="id" class="form-label">UserID:</label>
      <input id="id" class="form-control" formControlName="id" [ngClass]="{'invalid': postForm.get('id')?.invalid && postForm.get('id')?.touched}">
      <div *ngIf="postForm.get('id')?.touched && postForm.get('id')?.invalid">
        <small class="text-danger" *ngIf="postForm.get('id')?.errors?.['required']">id is required.</small>
      </div>
    </div>

    <div class="mb-3">
      <label for="userName" class="form-label">UserName:</label>
      <input id="userName" class="form-control" formControlName="userName"  [ngClass]="{'invalid':postForm.get('userName')?.invalid && postForm.get('userName')?.touched}">
      <div *ngIf="postForm.get('userName')?.touched && postForm.get('userName')?.invalid">
        <small class="text-danger" *ngIf="postForm.get('userName')?.errors?.['required']">userName is required.</small>
      </div> 
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">UserEmail:</label>
      <input id="email" class="form-control" formControlName="email"  [ngClass]="{'invalid':postForm.get('email')?.invalid && postForm.get('email')?.touched}">
      <div *ngIf="postForm.get('email')?.touched && postForm.get('email')?.invalid">
        <small class="text-danger" *ngIf="postForm.get('email')?.errors?.['required']">email is required.</small>
      </div> 
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">UserPassword:</label>
      <input id="password" class="form-control" formControlName="password"  [ngClass]="{'invalid':postForm.get('password')?.invalid && postForm.get('password')?.touched}">
      <div *ngIf="postForm.get('password')?.touched && postForm.get('password')?.invalid">
        <small class="text-danger" *ngIf="postForm.get('password')?.errors?.['required']">password is required.</small>
        <small class="text-danger" *ngIf="postForm.get('password')?.errors?.['minLength']">password is required.</small>
      </div> 
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
