<div class="p-3 mb-2 bg-danger text-white container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo eaque reiciendis minima corrupti dolore harum maxime dicta ipsum nisi amet aliquam cupiditate sunt officia sit, enim dolores incidunt nulla esse.
  ra ea rem ullam dolorem numquam veniam libero! Odio optio quia ut asperiores nam!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed magni assumenda doloribus obcaecati quisquam eaque? Nulla amet, natus fugit quaerat, reprehenderit totam neque molestiae error sapiente veritatis consequuntur nostrum a?
</div>